<div class="global-search">
  <form class="form-horizontal well">
      <div class="form-group">
          <label id="search-input-label" class="col-sm-3 control-label" >Global Search</label><!--ng-bind="translation.SEARCH_LABEL"-->
          <div class="col-sm-6">
              <input type="text" class="form-control"  placeholder="" ng-model="searchText"/>
                     <!--typeahead="album for album in autocomplete($viewValue) | filter:$viewValue" />-->
          </div>
          <div class="col-sm-1">
              <button type="submit" class="btn btn-primary">Moviz Search</button><!-- ng-click="fullTextSearch(searchText, 1)" ng-bind="translation.SEARCH_BUTTON"-->
          </div>
      </div>
  </form>
</div>


<div class="panel panel-default col-md-10 col-md-offset-1" style="text-align: center;">
  <h3>Recent Movies</h3>
  <div>
    <a-thumbnail href="#" src="/styles/resources/img/movies_icon.svg" legend="Vikings S04E03 VOSTFR"></a-thumbnail>
    <a-thumbnail href="#" src="/styles/resources/img/movies_icon.svg" legend="Vikings S04E02 VOSTFR"></a-thumbnail>
    <a-thumbnail href="#" src="/styles/resources/img/movies_icon.svg" legend="Vikings S04E01 VOSTFR"></a-thumbnail>
    <a-thumbnail href="#" src="/styles/resources/img/movies_icon.svg" legend="Vikings S03E20 VOSTFR"></a-thumbnail>
    <a-thumbnail href="#" src="/styles/resources/img/movies_icon.svg" legend="Vikings S03E19 VOSTFR"></a-thumbnail>
    <a-thumbnail href="#" src="/styles/resources/img/movies_icon.svg" legend="Vikings S03E18 VOSTFR"></a-thumbnail>
  </div>
</div>
<div class="panel panel-default col-md-10 col-md-offset-1" style="text-align: center;">
  <h3>Recent Musics</h3>
  <a-thumbnail href="#" src="/styles/resources/img/musics_icon.svg" legend="MickleMore Album 2"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/musics_icon.svg" legend="MickleMore Album 1"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/musics_icon.svg" legend="Korn"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/musics_icon.svg" legend="Francis Cabrel L'apologie"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/musics_icon.svg" legend="Francis Cabrel, mon amour"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/musics_icon.svg" legend="Gunter love paradise"></a-thumbnail>
</div>
<div class="panel panel-default col-md-10 col-md-offset-1" style="text-align: center;">
  <h3>Recent Pictures</h3>
  <a-thumbnail href="#" src="/styles/resources/img/pictures_icon.svg" legend="Road Trip USA"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/pictures_icon.svg" legend="Road Trip Japon"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/pictures_icon.svg" legend="Road Trip Thailande"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/pictures_icon.svg" legend="Food Trip Italie"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/pictures_icon.svg" legend="Road Trip Finlande"></a-thumbnail>
  <a-thumbnail href="#" src="/styles/resources/img/pictures_icon.svg" legend="Road Trip Europe"></a-thumbnail>
</div>