<div class="global-search">
  <form class="form-horizontal well">
      <div class="form-group">
          <label id="search-input-label" class="col-sm-3 control-label" >Global Search</label><!--ng-bind="translation.SEARCH_LABEL"-->
          <div class="col-sm-6">
              <input type="text" class="form-control"  placeholder="" ng-model="searchText"/>
                     <!--typeahead="album for album in autocomplete($viewValue) | filter:$viewValue" />-->
          </div>
          <div class="col-sm-1">
              <button type="submit" class="btn btn-primary">Moviz Search</button><!-- ng-click="fullTextSearch(searchText, 1)" ng-bind="translation.SEARCH_BUTTON"-->
          </div>
      </div>
  </form>
</div>


<div class="panel panel-default col-md-10 col-md-offset-1" style="text-align: center;">
  <h3>Recent Movies</h3>
  <div  ng-repeat="movie in recentMovies">
    <a-thumbnail href="#" src="{{movie.cover_path}}" legend="{{movie.title}}" mediatype="movies"></a-thumbnail>
  </div>
</div>
<div class="panel panel-default col-md-10 col-md-offset-1" style="text-align: center;">
  <h3>Recent Musics</h3>
  <div  ng-repeat="music in recentMusics">
    <a-thumbnail href="#" src="{{music.cover_path}}" legend="{{music.title}}"></a-thumbnail>
  </div>
</div>
<div class="panel panel-default col-md-10 col-md-offset-1" style="text-align: center;">
  <h3>Recent Pictures</h3>
  <div  ng-repeat="picture in recentPictures">
    <a-thumbnail href="#" src="{{picture.cover_path}}" legend="{{picture.title}}"></a-thumbnail>
  </div>
</div>