<div class="global-search">
  <form class="form-horizontal well">
      <div class="form-group">
          <div class="col-sm-6 col-sm-offset-2">
              <input type="text" class="form-control"  placeholder="" ng-model="searchText"/>
                     <!--typeahead="album for album in autocomplete($viewValue) | filter:$viewValue" />-->
          </div>
          <div class="col-sm-1">
              <button type="submit" class="btn btn-primary">Search a Movie</button><!-- ng-click="fullTextSearch(searchText, 1)" ng-bind="translation.SEARCH_BUTTON"-->
          </div>
      </div>
  </form>
</div>