<div class="settings-panel">

	<h1 style="text-align: center;"> Settings </h1>
	<div class="panel panel-default col-md-10 col-md-offset-1">
		<h2 style="text-align: center;">Add a Media</h2>
		<form ng-submit="submit()">
			<fieldset class="form-group col-md-12">
				<label>Type of media :</label>
				<label class="radio-inline">
				  <input type="radio" ng-model="mediaType" value="movie" checked> Movie
				</label>
				<label class="radio-inline">
				  <input type="radio" ng-model="mediaType" value="music"> Music Album
				</label>
				<label class="radio-inline">
				  <input type="radio" ng-model="mediaType" value="picture"> Picture Album
				</label>				
			</fieldset>
			<fieldset class="form-group col-md-12">
				<label for="mediaTitle">Title : </label>
				<input type="text" class="form-control" ng-model="title" placeholder="Enter a Title" required></input>
			</fieldset>
			<fieldset class="col-md-6">
				<label for="mediaFile">Select a File :</label>
				<upload-file fileread="file" empty-text="Media File ..." required/>
			</fieldset>
			<fieldset class="col-md-6">
				<label for="mediaCoverFile">Select a Cover Image :</label>
				<upload-file fileread="cover_file" empty-text="Cover File ..." required/>
			</fieldset>
			<fieldset class="col-md-12"> 
				<label for="mediaCategorie">Select a Categorie :</label>
				<select id="mediaCategorie" class="form-control input-group"
      				ng-options="option.name for option in categories.availableOptions 
      				| filter:{ media : mediaType }"
      				ng-model="categories.selectedOption" required></select>
			</fieldset>
  			<input type="submit" id="submit" value="Add Media" class="btn btn-primary input-group col-md-2 col-md-offset-5"/>
		</form>
	</div>
</div>