<div class="global-search">
  <form class="form-horizontal well">
      <div class="form-group">
          <div><!-- ng-hide="isAvailableResults()"> -->
              <div class="row text-center hidden-xs">
                  <img src="/resources/img/search-icon-big.png" alt="Moviz Logo" /><br/>
                  <br/>
              </div>
          </div>
          <label id="search-input-label" class="col-sm-3 control-label" >Global Search</label><!--ng-bind="translation.SEARCH_LABEL"-->
          <div class="col-sm-6">
              <input type="text" class="form-control"  placeholder="" ng-model="searchText"/>
                     <!--typeahead="album for album in autocomplete($viewValue) | filter:$viewValue" />-->
          </div>
          <div class="col-sm-1">
              <button type="submit" class="btn btn-primary">Moviz Search</button><!-- ng-click="fullTextSearch(searchText, 1)" ng-bind="translation.SEARCH_BUTTON"-->
          </div>
      </div>
  </form>
</div>
<div class="album text-muted">
  <div class="container">
    <div class="row">
      <div  class="post-box2 col-lg-3 col-md-3 col-sm-3">
        <img class="img-responsive img-thumbnail" src="/resources/img/paysage1.jpeg" alt="paysage 1">
        <p class="card-text">This is the fucking first pictures for your research. bitches.</p>
      </div>
      <div  class="post-box2 col-lg-3 col-md-3 col-sm-3">
        <img class="img-responsive img-thumbnail" src="/resources/img/paysage2.jpeg" alt="paysage 2">
        <p class="card-text">This is the fucking second pictures for your research. bitches.</p>
      </div>
      <div  class="post-box2 col-lg-3 col-md-3 col-sm-3">
        <img class="img-responsive img-thumbnail" src="/resources/img/paysage3.jpeg" alt="paysage 3">
        <p class="card-text">This is the fucking third pictures for your research. bitches.</p>
      </div>
      <div  class="post-box2 col-lg-3 col-md-3 col-sm-3">
        <img class="img-responsive img-thumbnail" src="/resources/img/paysage6.jpeg" alt="paysage 6">
        <p class="card-text">This is the fucking sixth pictures for your research. bitches.</p>
      </div>
    </div>
  </div>
</div>
