/* CONSTANTES ----------------------------------*/

/* SIDE BAR*/
@wrapper-transition : all 0.5s ease;
@wrapper-padding : 100px;
@sidebar-color : grey;
@sidebar-li-color : #999999;
@sidebar-li-color-hover : #ffffff;
@header-color : grey;
@footer-color : grey;

/* STYLES --------------------------------------*/

.page-header {
    width: 100%;
    height: 200px !important;
    background: @header-color;
    margin: 0px 0 0px !important;
	background-image: url('/styles/resources/img/banner.jpg');
	text-align: center;
	vertical-align: middle ;
	background-size: 100% 100%;
	h1{
		background-color: rgba(255,255,255,0.8);
	}
}

.global-search{
	margin-top: 1%;
}

.thumbnail{
	width: 150px;
    height: 150px;
    overflow: hidden;
    float: left;
    margin-left: 10px;
    img{
    	width: 80px;
    	height: 80px;
    }
}

/* SIDE BAR -----------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: @wrapper-transition;
    -moz-transition: @wrapper-transition;
    -o-transition: @wrapper-transition;
    transition: @wrapper-transition;
    .toggled {
    	padding-left: @wrapper-padding;
	}
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: @wrapper-padding;
    width: 0;
    height: 100%;
    margin-left: -@wrapper-padding;
    overflow-y: auto;
    background: @sidebar-color;
    -webkit-transition: @wrapper-transition;
    -moz-transition: @wrapper-transition;
    -o-transition: @wrapper-transition;
    transition: @wrapper-transition;
}

#wrapper.toggled #sidebar-wrapper {
    width: @wrapper-padding;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -@wrapper-padding;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: @wrapper-padding;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
	    text-indent: 20px;
	    line-height: 40px;
	}
	li a {
	    display: block;
	    text-decoration: none;
	    color: @sidebar-li-color;
		&:hover {
		    text-decoration: none;
		    color: @sidebar-li-color-hover;
		    background: rgba(255,255,255,0.2);
		}
		&:active, &:focus {
			text-decoration: none;
		}
	}
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    a {
	    color: @sidebar-li-color;
	    &:hover {
		    color: @sidebar-li-color-hover;
		    background: none;
	    }
	}
}

.sidebar-menu{
	margin-top: 75%;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: @wrapper-padding;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: @wrapper-padding;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

// Optimize for icon based button
.btn-icon {
  padding: 0;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0;
  margin-top: 20%;
  margin-bottom: 20%;
  &:active, &:focus {
    border-color: transparent;
  }
  &:focus {
    outline: 0 none !important;
  }
}